<template>
  <div class="content">
    <!-- TITLE -->
    <h1 class="content_title">What do you want to do?</h1>

    <!-- ADD -->
    <div class="content__add">
      <button @click="createTodo()">
        <img src="../assets/plus.svg" alt="Plus" />
      </button>
      <input
        type="text"
        placeholder="Add task"
        v-model="todoTitle"
        @keypress.enter="createTodo()"
      />
    </div>

    <!-- TASKS -->
    <div class="tasks content__tasks" v-for="todo in todos" :key="todo.id">
      <v-checkbox
        :input-value="todo.completed"
        color="grey lighten-2"
        class="tasks__checkboxes"
        @change="changeTodoState(todo.id)"
      ></v-checkbox>
      <p class="tasks__text">{{ todo.title }}</p>
      <button
        class="tasks__delete"
        @click="deleteTodo(todo.id), (snackbar = true)"
      ></button>
    </div>

    <!-- SNACKBAR -->
    <v-snackbar class="content__snackbar" v-model="snackbar">
      {{ text }}
    </v-snackbar>

    <!-- COFFEE -->
    <div class="content__coffee" v-if="todos.length == 0">
      <img src="../assets/coffee.png" alt="Coffee" />
      <p>Drink a cup of coffee and relax</p>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      todoTitle: "",
      snackbar: false,
      text: `Task successfully deleted`,
    };
  },

  computed: {
    ...mapGetters([
      "allTodos",
      "completedTodos",
      "activeTodos",
      "validTodos",
      "activeBtnTitle",
    ]),
    todos() {
      switch (this.activeBtnTitle) {
        case "Active":
          return this.activeTodos;
        case "All":
          return this.validTodos;
        case "Completed":
          return this.completedTodos;
        default:
          return [];
      }
    },
  },

  methods: {
    ...mapActions(["addTodo", "changeTodoState", "deleteTodo"]),
    createTodo() {
      this.addTodo(this.todoTitle);
      this.todoTitle = "";
    },
  },
};
</script>

<style lang="scss">
@import "../scss/vars.scss";

.content {
  padding: 4vh 5vw 5vh 5vw;
  width: 100%;

  // TITLE
  .content_title {
    margin-bottom: 10%;
    line-height: 1;
    font-size: 3em;
    color: $accent-color;

    @media (min-width: 480px) {
      font-size: 2em;
    }
    @media (min-width: 568px) {
      margin-bottom: 5%;
    }
  }
  .content_title::selection {
    background: transparent;
  }

  // TASKS
  .content__tasks {
    display: flex;
    align-items: baseline;
    .tasks__checkboxes {
      margin: 0;
      padding: 0;
      i {
        color: $palette-tertiary;
      }
    }
    .tasks__text {
      flex: 1 1 auto;
      font-size: 14px;
      color: $palette-primary;
    }
    .tasks__delete {
      width: 1.5em;
      height: 1.5em;
      background-color: $palette-tertiary;
      -webkit-mask: url(../assets/delete.svg) no-repeat center;
      mask: url(../assets/delete.svg) no-repeat center;
      transition: all 0.3s ease;
    }
    .tasks__delete:hover {
      background-color: $palette-primary;
    }
  }

  // SNACKBAR

  // ADD
  .content__add {
    display: flex;
    margin-bottom: 5%;
    padding: 1vh;
    border-radius: 5px;
    background: #2b2b2b;

    @media (min-width: 1024px) and (orientation: landscape) {
      margin-bottom: 3%;
    }
    input {
      margin-left: 1.5%;
      width: 100%;
      font-size: 1.5em;
      color: $palette-primary;

      @media (min-width: 1024px) {
        font-size: 1em;
      }
    }
    button {
      margin-left: 0.5%;
      img {
        height: 0.8em;
      }
    }
  }

  // COFFEE
  .content__coffee {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-right: 20%;
    width: 100%;
    height: 70%;
    img {
      width: 80%;
      @media (min-width: 768px) {
        width: 50%;
      }
    }
    p {
      letter-spacing: 0.2vw;
      font-size: 1.5em;
      color: $palette-primary;

      @media (min-width: 1024px) {
        font-size: 1em;
      }
    }
    p::selection {
      background: transparent;
    }
  }

  @media (min-width: 1024px) and (orientation: landscape) {
    padding: 3% 25% 3% 5%;
    width: 80%;
  }
}
</style>
