<template>
  <div class="menu">
    <button
      v-for="btn in btns"
      :key="btn.id"
      @click="selectBtn(btn.id)"
      :style="btn.selected ? 'color: #9afc1d' : ''"
    >
      {{ btn.text }}
    </button>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {};
  },

  methods: {
    ...mapActions(["changeBtn"]),
    selectBtn(id) {
      this.changeBtn(id);
      this.$emit("changeList");
    },
  },

  computed: {
    ...mapGetters(["btns"]),
  },
};
</script>

<style lang="scss">
@import "../scss/vars.scss";

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10%;

  button {
    margin-bottom: 10%;
    color: $palette-primary;
  }
  button:active {
    color: $accent-color;
  }
  button::selection {
    background: transparent;
  }
}
</style>
