<template>
  <div class="nav-wrapper">
    <div class="nav">
      <!-- LEFT -->
      <div class="nav__left">
        <div class="nav__left_menu-search">
          <button @click="switchMenu">
            <img src="../assets/menu.svg" alt="Menu" class="icon" />
          </button>
        </div>
        <a
          href="https://gitlab.com/Arkhipova/tasklist"
          target="_blank"
          title="GitLab"
        >
          <img src="../assets/gitlab.svg" alt="GitLab" class="icon" />
        </a>
      </div>

      <!-- RIGHT -->
      <transition name="transition-menu">
        <div v-if="showMenu" class="nav__right">
          <Menu @changeList="changeList" />
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import Menu from "./Menu.vue";

export default {
  components: {
    Menu,
  },

  data() {
    return {
      showMenu: window.innerWidth > 1024 ? true : false,
    };
  },

  methods: {
    switchMenu() {
      this.showMenu = !this.showMenu;
    },
    changeList() {
      if (window.innerWidth <= 1024 && window.innerHeight > window.innerWidth) {
        this.showMenu = false;
      }
    },
  },

  created() {
    window.addEventListener("click", (e) => {
      if (
        !this.$el.contains(e.target) &&
        (window.innerWidth <= 1024 || window.innerHeight > window.innerWidth)
      ) {
        this.showMenu = false;
      }
    });
  },
};
</script>

<style lang="scss">
@import "../scss/vars.scss";

.nav-wrapper {
  position: relative;
  z-index: 1;
  width: 20%;
  max-width: 100px;

  .nav {
    position: fixed;
    display: flex;
    width: inherit;
    max-width: inherit;
    min-width: inherit;
    height: 100%;

    // LEFT
    .nav__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 4vh 0;
      width: 100%;

      @media (min-width: 1024px) and (orientation: landscape) {
        z-index: 1;
        width: 20%;
        background: $palette-tertiary;
      }
    }

    // RIGHT
    .nav__right {
      position: absolute;
      padding: 8vh 1vw 0 1vw;
      width: 80vw;
      height: 100vh;
      background: $palette-quaternary;
      box-shadow: 4px 0px 0px 2000px rgb(14 14 14 / 50%);

      @media (min-width: 1024px) and (orientation: landscape) {
        position: static;
        margin: 0;
        padding: 4vh 1vw 0 1vw;
        width: 80%;
        box-shadow: none;
      }
    }
    .transition-menu-enter-active {
      transition: all 0.4s ease;
    }
    .transition-menu-leave-active {
      transition: all 0.4s;
    }
    .transition-menu-enter,
    .transition-menu-leave-to {
      transform: translateX(-100%);
      opacity: 0.8;
    }
  }

  @media (min-width: 768px) and (orientation: portrait) {
    width: 15%;
    max-width: none;
  }
  @media (min-width: 1025px) and (orientation: portrait) {
    max-width: none;
    min-width: 250px;
  }
  @media (min-width: 1024px) and (orientation: landscape) {
    max-width: none;
  }
}
</style>
