<template>
  <v-app>
    <v-lazy>
      <div class="app">
        <Navigation class="navigation" />
        <Content class="content" />
      </div>
    </v-lazy>
  </v-app>
</template>

<script>
import Content from "./components/Content.vue";
import Navigation from "./components/Navigation.vue";

export default {
  name: "App",

  data() {
    return {};
  },

  components: { Content, Navigation },
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

// GENERAL STYLE RESET
* {
  font-family: "Open Sans", sans-serif;
  outline: none;

  body,
  html {
    margin: 0;
    padding: 0;
    font-size: 1.8vmin;
    line-height: 1.5;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;

    .app {
      display: flex;
      width: 100%;
      height: 100%;
      min-height: 100vh;
      background: #1f1f1f;
      .icon {
        margin: auto;
        width: 25%;

        @media (min-width: 1024px) {
          width: 35%;
        }
      }
      img {
        display: block;
        max-width: 100%;
      }
      img::selection {
        background: transparent;
      }
      ul[class],
      ol[class] {
        list-style: none;
      }
      button {
        font-size: 2em;

        @media (min-width: 1024px) and (orientation: landscape) {
          font-size: 1em;
        }
      }
    }
  }
}
</style>
